<%- include ('./partials/header.ejs') %>
    <main>
        <section class="catalogue_header">
            <h1 class="catalogue_header_h1">Notre catalogue</h1>
        </section>
        <section class="catalogue_content">
            <div class="news_wrapper">
                <form class="catalogue_content_form" method="GET">
                    <select class="catalogue_content_form_select" name="reference">
                        <option value="">--Tous les produits--</option>
                        <% for(let product of products){ %>
                        <option value="<%= product.reference %>"><%= product.name %></option>
                        <% } %>
                    </select>
                    <button class="btn little-btn" type="submit">Filtrer</button>
                </form>
                <% for(let product of filteredProducts){ %>
                <div class="news_card">
                    <img class="news_card_img" src="img/coffees/<%= product.reference %>.png">
                    <h3 class="news_card_h3"><%= product.name %></h3>
                    <p class="news_card_p"><%= product.description %></p>
                    <a class="btn little-btn news_card_a" href="/produit/<%= product.reference %>">Découvrir</a>
                </div>
                <% } %>
                
                <button class="btn catalogue_button" type="submit">Voir tout</button>
            </div>
        </section>
    </main>
<%- include ('./partials/footer.ejs') %>
