<%- include ('./partials/header.ejs') %>
    <main>
        <section class="catalogue_header">
            <h1 class="catalogue_header_h1">Notre catalogue</h1>
        </section>
        <section class="catalogue_content">
            <div class="card_wrapper">
                <form class="catalogue_content_form" method="GET">
                    <select class="catalogue_content_form_select" name="reference">
                        <option value="">--Tous les produits--</option>
                        <% for(let type of types){ %>
                            <option value="<%= type.strenght %>" <%= selectedType === type.strenght ? 'selected' : '' %>><%= type.strenght %></option>
                        <% } %>
                    </select>
                    <button class="btn little-btn" type="submit">Filtrer</button>
                </form>
                
                <% for(let product of products){ %>
                <div class="card">
                    <img class="card_img" src="img/coffees/<%= product.reference %>.png">
                    <h3 class="card_h3"><%= product.name %></h3>
                    <p class="card_p"><%= product.description %></p>
                    <a class="btn little-btn card_a" href="/produit/<%= product.reference %>">Découvrir</a>
                </div>
                <% } %>
                
                <!-- <a href="/catalogue?showAll=true" class="btn catalogue_button">Voir tout</a> -->
            </div>
        </section>
    </main>
<%- include ('./partials/footer.ejs') %>
