<%- include ('./partials/header.ejs') %>
    <main>
        <section class="about">
            <article class="about_article">
                <h1>OCoffee, des cafés O' de gamme</h1>
                <p>Avec une expertise approfondie et un amour profond pour le café, Jean et Jacques Pepper ont créé un espace où le café est célébré comme une expérience raffinée et inspirante.</p>
                <a class="btn" href="/catalogue">Voir le catalogue</a>
            </article>
            <img class="about_image" src="img/about.jpg">
        </section>
        <section class="news">
            <h2 class="card_title">Nouveautés</h2>
            <div class="card_wrapper">
                <% for(let product of products){ %>
                <div class="card">
                    <img class="card_img" src="img/coffees/<%= product.reference %>.png">
                    <h3 class="card_h3"><%= product.name %></h3>
                    <p class="card_p"><%= product.description %></p>
                    <a class="btn little-btn card_a" href="/produit/<%= product.reference %>">Découvrir</a>
                </div>
                <% } %>
            </div>
        </section>
    </main>
<%- include ('./partials/footer.ejs') %>