<%- include ('./partials/header.ejs') %>
    <main>
    
        <div class="produit_header">
            <img class="produit_header_img" src="/img/coffees/<%= product.reference %>.png">
        </div>
        
        <article class="produit_article">
            <p class="produit_article_date">Publié le 19/11/2024</p>
            <h1 class="produit_article_h1"><%= product.name %></h1>
            <span><%= product.strenght %></span>
            <span><%= product.country %></span>
            <span><%= product.price %> €</span>
            <p class="produit_article_p"><%= product.description %></p>
            <a class="btn" href="/catalogue">Catalogue</a>
        </article>

    </main>
<%- include ('./partials/footer.ejs') %>